@font-face {
    font-family: Oswald;
    src: url(../../vendor/fonts/Oswald.ttf);
 }

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    color: #3EF556;
    font-family:    Oswald;
    background-color: #000000;
}

.topo{
    height: 10vh;
    font-size:  1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin-div{
    height: 100%;
    width: 15vw;
    display: flex;
    justify-content: flex-start;
    margin-left: 3vw;
    align-items: center;
    cursor: pointer;
}

.coin-div img{
    max-height: 4vh;
}

.dinheiro-div{
    height: 100%;
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
    align-items: center;
    cursor: pointer;
}

.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.botao-princ{
    border:  #3EF556 solid 1px;
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 15px;
    cursor: pointer;
}

.botao-princ:hover{
    background-color: #3EF556;
    color: #000000;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #3EF556 solid 1px;
    width: 2vw;
    height: 2vw;
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1vw;
}

.home:hover{
    background-color: #3EF556;
    color: #000000;
}

.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}